<!DOCTYPE html>
<html>
<head>
  <title>Mymailer</title>
  <%= stylesheet_link_tag    "mymailer/application", :media => "all" %>
  <%= javascript_include_tag "mymailer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
